<div class="container h-100 d-flex flex-column desktop">

    <div class="row container-row h-100 flex-grow-1">

        <div class="col-6 padding-0">
            <div class="padding-0">
                <img src="../../assets/images/nutri-connect-corner.png" alt="">
            </div>
            <div class="mt-5">
                <img class="thankyou" src="../../assets/images/thankyou.png" alt="">
            </div>
            
        </div>
        
        <div class="col-md-6">

            <div class="mt-5 vh-align">
                <img class="header" src="../../assets/images/thankyou-header.png" alt="">
            </div>
            <div class="mt-2 vh-align">
                <img class="sponsor shadow" src="../../assets/images/thankyou-sponsor.png" alt="">
            </div>
            <div class="p-4">
                <button class="nextBtn" [routerLink]="['/sections']">Go To Sections</button>
            </div>
            <p class="disclaimer">
                For the use of a Registered Medical Practitioner only.
                <br>
                Developed in August 2020. Covid 19 period.
            </p>
        </div>


    </div>

    <div class="margin-0 padding-0">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 margin-0 padding-0" style="background-color: #cbecf8;">
            <img class="bottom-bar" src="../../assets/images/bottom-bar.png" alt="">
        </div>
    </div>

</div>

<div class="container h-100 d-flex flex-column mobile">

    <div class="row flex-grow-1">

        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 padding-0 primary-color">
            <img src="../../assets/images/sponsors.png" alt="">
        </div>


        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 pb-5 container-row">
            <div class="p-4">
                <button class="nextBtn" [routerLink]="['/sections']">Go To Sections</button>
            </div>
            <p class="disclaimer">
                For the use of a Registered Medical Practitioner only.
                <br>
                Developed in August 2020. Covid 19 period.
            </p>
        </div>
    </div>

    <div class="margin-0 padding-0">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 margin-0 padding-0" style="background-color: #cbecf8;">
            <img class="bottom-bar" src="../../assets/images/bottom-bar.png" alt="">
        </div>
    </div>

</div>